.UserProfile__BG
  = render "shared/header"
  .UserProfile
    .UserProfile__photo
      .UserProfile__photo--icon
      .UserProfile__photo--name
      .UserProfile__score
        %span 評価10
        %span 出品数1
      .White
        .score
          .score__good
          .score__bad
    %section.items__container