%head
  %meta{"charset":"UTF-8"}
  %link{"href": "style.css", "rel": "stylesheet"}
  %title Sample

.user
  .user__header
  .user__brand
    %h1 ブランドカテゴリー

  .user__body
    .user__body--main
      .body--main_left
        .left__navi
          %ul.navi__me
            %li.navi__contents  マイページ
            %li.list お知らせ
            %li.list やることリスト
            %li.list お気に入り一覧
            %li.list 出品する
            %li.list 下書き一覧
            %li.list 出品した商品・出品中
            %li.list 出品した商品・取引中
            %li.list 出品した商品・売却済み
            %li.list 購入した商品・取引中
            %li.list 出品した商品・過去の取引
            %li.list ニュース一覧
            %li.list 評価一覧
            %li.list ガイド
            %li.list お問い合わせ
          %ul.navi__me
            %li.navi__contents  フリぺい
            %li.list 売上・振り込み申請
            %li.list ポイント
          %ul.navi__me
            %li.navi__contents  設定
            %li.list プロフィール
            %li.list 発送元・お届け先住所変更
            %li.list 支払い方法
            %li.list メール/パスワード
            %li.list 本人情報
            %li.list 電話番号の確認
            %li.list ログアウト

            
      .body--main_right

  .user__notice
    %h1 "いますぐダウンロード"
  .user__footer



%body
  .Main
    %p.UserName hogehoge
    %ul.Main__menu
      %li.Main__new-group NEW GROUP
      %li#featured.Main__editUser EDIT USER
  .Form
    %form.Form__contents
      .Form__inputBox
        %input.Form__inputText{"placeholder": "type a message", "type": "text"}
      %input.Form__submitBtn{"name": "commit", "type": "submit", "value": "Send"}