%footer.purchases-footer
  .FooterNav
    %ul.FooterNav__list
      %li= link_to 'プライバシーポリシー', root_path
      %li= link_to 'フリマ利用規約', root_path
      %li= link_to '特定商取引に関する表記', root_path
  .logo__area
    %a.logo__bottom
      = link_to image_tag("logo.png", class:"logo--furima"), root_path
    %p.furima
      %small ©FURIMA
//アクションによってリンクの先を場合分けしている様子