@import "modules/purchases_header";
@import "modules/purchases_footer";
.purchases__body {
  background-color: whitesmoke;
}

.purchases__main {
  max-width: 700px;
  margin: 0px auto;
  width: 100%;
  background-color: white;
}

.Main__one {
  margin: 0px auto;
  padding: 32px 16px;
  max-width: 375px;
}

.Main__one--text {
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.Main__two {
  @include Purchases;
}

.infomation {
  display: flex;
  justify-content: space-between;
}

.infomation__top {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 80px;
  align-items: center;
}

.infomation__figurea {
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  height: 80px;
  width: 80px;
  position: relative;
}

.infomation__middle {
  width: 100%;
  margin-left: 16px;
}

.infomation--product {
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 8px;
}

.infomation__FeePrice {
  text-align: right;
}

.information__FeePrice--fee {
  font-size: 12px;
}

.information__FeePrice--price {
  font-size: 15px;
  font-weight: 600;
  margin-left: 8px;
}

.Main__three {
  @include Purchases;
}

.PaymentAmount {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.text,#PaymentPrice {
  font-size: 18px;
  font-weight: 600;
}

.Main__four {
  @include Purchases;
}

.MethodOfPayment__a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.way {
  font-size: 14px;
  font-weight: 600;
}

.MethodOfPayment__b {
  color: #0095ee;
  display: flex;
  align-items: center;
  opacity: 1;
  pointer-events: auto;
  font-size: 14px;
}

.fas.fa-plus-circle {
  margin-right: 4px;
}

.Main__five {
  @include Purchases;
}

.AddressArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.AddressArea__left {
  font-size: 14px;
  font-weight: 600;
}

.AddressArea__right {
  color: #0099e8;
  text-decoration: none;
  font-size: 14px;
}

.Address__Information {
  font-size: 14px;
}

.Main__six {
  @include Purchases;
  font-size: 14px;
}