//ヘッダーについてのscss
.header {
  padding: 0 60px;
  background-color: #fff;
  &-main {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__top {
      position: relative;
      display: flex;
      align-items: center;
    }
    &__title {
      padding-bottom: 10px;
      margin-right: 30px;
      border-radius: 4px;
    }
    &__search-box {
        margin-left: auto;
        width: 100%;
    }
    &__bottom {
      font-size: 14px;
      display: flex;
      min-height: 42px;
    }
  }
}

.search-form {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  &__input-box {
    width: calc(100% - 26px);
    height: 36px;
    padding: 0 0 0 5px;
  }
  &__input-label {
    width: 36px;
    height: 36px;
    border: 0;
    background-color: $usual-color;
    padding: 8px;
    .search-icon {
      width: 100%;
    }
    .submit-btn {
      width: calc(100% - 26px);
      height: 36px;
      padding: 0 0 0 5px;
    }
  }
}

.search-list {
  position: relative;
  display: flex;
  &__category {
    @include search-style1();
    &-link {
      @include search-style2();
      .fas {
        color: $usual-color;
      }
      span {
        font-weight: 700;
      }
    }
  }
  &__brand {
    @include search-style1();
    &-link {
      @include search-style2();
      .fas {
        color: $usual-color;
      }
      span {
        font-weight: 700;
      }
    }
  }
}

.contents-list {
  margin-left: auto;
  display: flex;
  li {
    position: relative;
    cursor: pointer;
  }
  &__favorites {
    @include contents-style1();
    &-link {
      @include contents-style2();
      .fas {
        @include contents-style3();
      }
    }
  }
  &__news {
    @include contents-style1();
    &-link {
      @include contents-style2();
      .fas {
        @include contents-style3();
      }
    }
  }
  &__doing-list {
    @include contents-style1();
    &-link {
      @include contents-style2();
      .fas {
        @include contents-style3();
      }
    }
  }
  &__mypage {
    @include contents-style1();
    &-link {
      @include contents-style2();
      display: flex;
      .mypage {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
}