.ListingItems {
  background: whitesmoke;
  &__header {
    height: 128px; 
    text-align: center;
  } 
  &__main {
    margin: 0px auto;
    max-width: 700px;
    .ListingForm {
      .ListingPics {
        @include frame;
      }
      .HorizontalRule {
        @include HR;
      } 
      .Description {
        @include frame;
        &__name {
          @include label-span(#ff0211);
          input {
            @include input;
            height: 48px;
          } 
        }
        &__text {
          @include label-span(#ff0211);
          textarea { 
            @include input;
            padding: 13px 16px;
            resize: vertical;
          }
        }
        &__wordCount {
          color: #888;
          font-size: 12px;
          line-height: 1.4em;
          text-align: right;
          margin-top: 16px;
        }
      }
      .Details {
        @include frame;
        &__title {
          @include title;
        }  
        .Categories {
          @include label-span(#ff0211);
          select {
            @include input;
            height: 48px;
          } 
        }  
        .Brands {
          @include label-span(#bfbfbf);
          input {
            @include input;
            height: 48px;
          } 
        }
        .Condition {
          @include label-span(#ff0211);
          select {
            @include input;
            height: 48px;
          } 
        }  
      }
      .Shipping {
        @include frame;
        &__title {
          @include title;
        }
        &__whoPays {
          @include label-span(#ff0211);
          select {
            @include input;
            height: 48px;
          } 
        }
        &__methods {
          @include label-span(#ff0211);
          select {
            @include input;
            height: 48px;
          } 
        }  
        &__from {
          @include label-span(#ff0211);
          select {
            @include input;
            height: 48px;
          } 
        }
        &__days {
          @include label-span(#ff0211);
          select {
            @include input;
            height: 48px;
          } 
        }
      }
      .Prices {
        @include frame;
        &__title {
          @include title;
        }
        &__pricing {
          @include prices;
          padding-top: 0px !important;
          &__left {
            @include label-span(#ff0211);  
            margin-top: 0px;
            margin-right: auto;
            white-space: nowrap;
          }
          .YenMark {
            font-size: 14px;
            margin-right: 8px;
          }
          &__right {
            @include input;
            max-width: 285px;
            height: 48px;
            margin: 0 !important;
            text-align: right;
          }
        }  
        &__salesCommission {
          @include prices;
          &__left {
            margin-right: auto;
            font-size: 14px;
          }
        }
        &__profit {
          @include prices;
          &__left {
            margin-right: auto;
            font-size: 14px;
            padding-bottom: 0px !important;
          }
        }
      }  
      .PutUp {
        @include frame;
        &__contents {
          margin: 0px auto;
          width: 360px;
          .NbtnPutup {
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            font-size: 17px;
            min-height: 48px;
            padding: 0 24px;
            font-weight: 600;
            width: 100%;
            line-height: 48px;
            border-radius: 4px;
            transition: all ease-out .3s;
            cursor: pointer;
            box-sizing: border-box
          }
          .NbtnDraft {
            margin-top: 24px;
            font-size: 17px;
            min-height: 48px;
            padding: 0 24px;
            font-weight: 600;
            width: 100%;
            line-height: 48px;
            border-radius: 4px;
            border: 1px solid transparent;            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            background-color: #ccc;
            color: #333;
            text-decoration: none;
            box-sizing: border-box;
          }
          .NbtnRtn {
            margin-top: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 20px;
            font-size: 14px;
            text-decoration: none;
          }          
        }
      }
      .Agreement {
        margin: 0;
        background-color: #fff;
        padding-bottom: 32px;        
        &__contents {
          margin: 0px 40px 32px;
          font-size: 12px;
          line-height: 1.4em; 
          p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;

          } 
          a {
            text-decoration: none;
          }
        }   
      }
    }
  }   
  &__footer {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    .Nav {
      %ul.Terms {
        display: flex;
        justify-content: center; 
        text-align: center;

      }
    }
  }  
}
