.ListingItems {
  background: whitesmoke;
  &__header {
    height: 128px; 
    text-align: center;
  } 
  &__main {
    margin: 0px auto;
    max-width: 700px;
    .ListingForm {
      .ListingPics {
        @include frame;
      }
      .HorizontalRule {
        @include HR;
      } 
      .Description {
        @include frame;
        &__name {
          label {
            @include label;
          }
          span {
            @include span(#ff0211);
          }
          input { 
            @include input;
            height: 48px;
          }
        }
        &__text {
          margin-top: 32px;
          label {
            @include label;
          }
          span {
            @include span(#ff0211);
          }
          textarea { 
            @include input;
            padding: 13px 16px;
            resize: vertical;
          }
        }
        &__wordCount {
          color: #888;
          font-size: 12px;
          line-height: 1.4em;
          text-align: right;
          margin-top: 16px;
        }
      }
      .Details {
        @include frame;
        &__title {
          @include title;
        }  
        .Categories {
          margin-top: 32px;
          label {
            @include label;
          }
          span {
            @include span(#ff0211);
          }
          select {
            @include input;
            height: 48px;
          }
        }  
        .Brands {
          margin-top: 32px;
          label {
            @include label;
          }
          span {
            @include span(#bfbfbf);
          }
          input {
            @include input;
            height: 48px;
          }
        }
        .Condition {
          margin-top: 32px;
          label {
            @include label;
          }
          span {
            @include span(#ff0211);
          }
          select {
            @include input;
            height: 48px;
          }
        }  
      }
      .Shipping {
        @include frame;
        &__title {
          @include title;
        }
        &__whoPays {
          margin-top: 32px;
          label {
            @include label;
          }
          span {
            @include span(#ff0211);
          }
          select {
            @include input;
            height: 48px;
          } 
        }
        &__methods {
          margin-top: 32px;
          label {
            @include label;
          }
          span {
            @include span(#ff0211);
          }
          select {
            @include input;
            height: 48px;
          } 
        }  
        &__from {
          margin-top: 32px;
          label {
            @include label;
          }
          span {
            @include span(#ff0211);
          }
          select {
            @include input;
            height: 48px;
          } 
        }
        &__days {
          margin-top: 32px;
          label {
            @include label;
          }
          span {
            @include span(#ff0211);
          }
          select {
            @include input;
            height: 48px;
          } 
        }
      }
      .Prices {
        @include frame;
        &__title 
      }
      .PutUp {
        @include frame;
      }
      .Agreement {
        @include frame;
      }
    }
  }
  &__footer {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    .Nav {
      %ul.Terms {
        display: flex;
        justify-content: center; 
        text-align: center;
      }
    }
  }  
}
