@mixin Fcolor {
  color: #3ccace;
}

@mixin BGcolor {
  background-color: #3ccace;
}

@mixin Blue {
  color: #0095ee;
}

@mixin BGblue {
  background-color: #0095ee;
}

@mixin Show($size){
  font-size: $size;
  text-decoration: none;
  color: black;
  border-left: solid 8px #3ccace;
  background: whitesmoke;
  margin-bottom: 5px;
  line-height: 2.5;
  border-radius: 0 15px 15px 0;
  padding: 0.5em;
  list-style-type: none!important;
  display: block;
}

// 商品詳細ページで使用
@mixin search-style1 () {
  line-height: 38px;
  padding: 0 0 0 16px;
  position: relative;
}

@mixin search-style2() {
  color: $black-color;
  line-height: 32px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 18px;
  padding-right: 30px;
}

@mixin contents-style1() {
  color: $black-color;
  padding-left: 16px;
}

@mixin contents-style2() {
  align-items: center;
  color: $black-color;
  line-height: 32px;
}

@mixin contents-style3() {
  color: #cccccc;
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}