@mixin Fcolor {
  color: #3ccace;
}

@mixin BGcolor {
  background-color: #3ccace;
}

@mixin Blue {
  color: #0095ee;
}

@mixin BGblue {
  background-color: #0095ee;
}

@mixin Inputplace {
  box-sizing: border-box;
  height: 48px;
  width: calc(50% - 6px);
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  margin: 8px 0 0;
}

@mixin Sticker {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
  vertical-align: center;
}

@mixin BtnSize {
  width: 328px;
  height: 52px;
  font-size: 15px;
}
