.ListingItems
  .ListingItems__header
    %h1
      %a{href: "/"} 
      %img{src: ""}  
  .ListingItems__main
    .ListingForm
      .ListingPics
        %label 出品画像
        %span.Required 必須
        %p.Pics-max5 最大５枚までアップロードできます 
        .ListingPics__upload
          .PicsFrame
            %label#id.ClickLabel{for: ""}
              .FrameCentre
                %i.fas.fa-camera
                %p.FrameCentre__instructions クリックしてファイルをアップロード
        .ListingPics__hidden
          %input#id.HiddenField{name: "", type: "file"}
          %input#id.HiddenField{name: "", type: "file"}      
          %input#id.HiddenField{name: "", type: "file"}
          %input#id.HiddenField{name: "", type: "file"}
          %input#id.HiddenField{name: "", type: "file"}
      %hr.HorizontalRule          
      .Description
        .Description__name
          %label{for: "item_name"} 商品名
          %span.Required 必須
          %input#id{required: "required", placeholder: "40文字まで", type: "text", name: ""}
        .Description__text
          %label{for: ""} 商品の説明
          %span.Required 必須
          %textarea#id.Description__text-fill{required: "required", rows: "7", placeholder: "商品の説明（必須1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", name: ""}
        .Description__wordCount
          %span 0
          \/1000
      %hr.HorizontalRule  
      .Details
        %p.Details__title 商品の詳細
        .Categories
          %label{for: ""} カテゴリー
          %span.Required 必須
          %select#id.Categories-ancestry{required: "required", name: ""}
        .Brands
          %label{for: ""} ブランド
          %span.Optional 任意
          %input#id{placeholder: "例）シャネル", type: "text", name: ""}
        .Condition
          %label{for: ""} 商品の状態
          %span.Required 必須
          %select#id{required: "required", name: ""}
      %hr.HorizontalRule
      .Shipping
        %p.Shipping__title 
          配送について
          %a{href: ""}  
            %i.far.fa-question-circle
        .Shipping__whoPays
          %label{for: ""} 配送料の負担
          %span.Required 必須
          %select#id{required: "required", name: ""}
        #Shipping__methods 
        .Shipping__from
          %label{for: ""} 発送元の地域
          %span.Required 必須
          %select#id{required: "required", name: ""} 
        .Shipping__days
          %label{for: ""} 発送までの日数
          %span.Required 必須
          %select#id{required: "required", name: ""}    
      %hr.HorizontalRule
      .Prices
        %prices__title 
          価格（￥300〜9,999,999）
          %a{href: ""}  
            %i.far.fa-question-circle
        .Prices__pricing
          .Prices__pricing-left
            %label{for: ""} 販売価格
            %span.Required 必須
          %span.YenMark ¥
          %input#id.Prices__pricing-right{type: "number", placeholder: "0", name: ""}  
        .Prices__salesCommission
          .Prices__salesCommission-left 販売手数料（10％）
          %span.Prices__salesCommission-right ー
        %hr.HorizontalRule
        .Prices__profit
          .Prices__profit-left 販売利益
          %span.Prices__profit-right ー
      .PutUp
        .PutUp__contents
          %input.NbtnPutup{type: "submit", name: "commit", value: "出品する"}
          %a.NbtnDraft{href: "#"} 下書きに保存
          %a.NbtnRtn{href: "/"} もどる
      .Agreement
        .Agreement__contents
          %p 
            禁止されている
            %a{href: ""} 行為 
            および 
            %a{href: ""} 出品物
            を必ずご確認ください。 
            %a{href: ""} 偽ブランド品
            や
            %a{href: ""} 盗品物
            などの販売は犯罪であり、法律により処罰される可能性があります。 
            また、出品をもちまして
            %a{href: ""} 加盟店規約 
            に同意したことになります。
  .ListingItems__footer
    .Nav
      %ul.Terms
        %li
          %a{href: "/"}プライバシーポリシー
        %li
          %a{href: "/"}フリマ利用規約
        %li
          %a{href: "/"}商標取引に関する表記
    %a.Title{href: "/", onmousedown: "return false;", onselectstart: "return false;"}
      %img{scr: ""}
    %p 
      %small ©︎FURIMA