!!! 
%html{lang: "ja"}
  %head 
    %meta{charset: "utf-8"}
    %link(rel="stylesheet" href="_movie.scss")
  %body
    %header.header
      .Main-header
        .Main-header__top
          .title
            furima
          .light-box
            = form_with model: [@item], html: {class: "Search-form"}, local: true do |f|
              
        .Main-header__bottom
          test
    .wrapper
      .Test
        test