!!! 
%html{lang: "ja"}
  %head 
    %meta{charset: "utf-8"}
    %link(rel="stylesheet" href="_movie.scss")
  %body
    %header.header
      .Main-header
        .Main-header__top
          .title
            furima
          .light-box
            %form.search-form{:action => "#"}
              %input.input-box{:placeholder => "キーワードから探す"}
              
        .Main-header__bottom
          test
    .wrapper
      .Test
        test