!!! 
%html{lang: "ja"}
  %head 
    %meta{charset: "utf-8"}
    %link(rel="stylesheet" href="_show.scss")
  %body
    %header.header
      .header-main
        .header-main__top
          .header-main__title
            = image_tag "fulima-og",width: "141", height: "41", class: "top-icon", alt: "top"
          .header-main__search-box
            %form.Search-form{:action => "#"}
              %input.Search-form__input-box{:placeholder => "キーワードから探す"}
              %label.Search-form__input-label
                = image_tag "icon-search.jpg", width: "19", height:"19", class: "Search-icon", alt: "icon"
                %btn.Submit-btn
        .header-main__bottom
          %ul.Search-list
            %li
              = link_to '#', class: "search-list__category" do
                %i.fas.fa-list
                %span カテゴリーから探す
            %li.Search-list__brand
              = link_to '#', class: "search-list__brand" do
                %i.fas.fa-tags
                %span ブランドから探す
          %ul.Contents-list
            %li.Contents-list__favorites
            %li.Contents-list__news
            %li.Contents-list__doing-list 
            %li.Contents-list__mypage
    .wrapper