!!! 
%html{lang: "ja"}
  %head 
    %meta{charset: "utf-8"}
    %link(rel="stylesheet" href="_movie.scss")
  %body
    %header.header
      .Main-header
        .Main-header__top
          .title
            = image_tag "fulima-og",width: "141", height: "41", class: "top-icon", alt: "top"
          .light-box
            %form.Search-form{:action => "#"}
              %input.Search-form__input-box{:placeholder => "キーワードから探す"}
              %label.search-btn
                = image_tag "icon-search.jpg", width: "20", height:"20", class: "search-icon", alt: "icon"
                %btn.Search-form__submit-btn
        .Main-header__bottom
          test
    .wrapper
      .Test
        test