!!! 
%html{lang: "ja"}
  %head 
    %meta{charset: "utf-8"}
    %link(rel="stylesheet" href="_movie.scss")
  %body
    %header.header
      .Main-header
        .Main-header__top
          .title
            furima
          .search
            search
        .Main-header__bottom
          test
    .wrapper
      .Test
        test