.Main{
  width: 1440px;
  height: 1798px;
  background-color: palegreen;
}

.MainHeader{
  width: 700px;
  height: 97px;
  background-color: palevioletred;
}

.MainField{
  
}





* {
  box-sizing: border-box;
}

p{
  font-size: 20px;
  background-color: palegoldenrod;
}