* {
  box-sizing: border-box;
}
@mixin style-search1 () {
  line-height: 38px;
  padding: 0 0 0 16px;
  position: relative;
}

@mixin style-search2() {
  color: #333;
  text-decoration: none;
  line-height: 32px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 18px;
  padding-right: 30px;
}

@mixin style-contents1() {
  color: #333;
  padding-left: 16px;
}

@mixin style-contents2() {
  align-items: center;
  color: #333;
  text-decoration: none;
  line-height: 32px;
}

@mixin style-contents3() {
  color: #cccccc;
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.header {
  padding: 0 60px;
  background-color: #fff;
  &-main {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__top {
      position: relative;
      display: flex;
      align-items: center;
    }
    &__title {
      padding-bottom: 10px;
      margin-right: 30px;
      border-radius: 4px;
    }
    &__search-box {
        margin-left: auto;
        width: 100%;
    }
    &__bottom {
      font-size: 14px;
      display: flex;
      min-height: 42px;
    }
  }
}

.search-form {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  &__input-box {
    width: calc(100% - 26px);
    height: 36px;
    padding: 0 0 0 5px;
  }
  &__input-label {
    width: 36px;
    height: 36px;
    border: 0;
    background-color: #3CCACE;
    padding: 8px;
    .search-icon {
      width: 100%;
    }
    .submit-btn {
      width: calc(100% - 26px);
      height: 36px;
      padding: 0 0 0 5px;
    }
  }
}

.search-list {
  position: relative;
  display: flex;
  &__category {
    @include style-search1();
    &-link {
      @include style-search2();
      .fas {
        color: #3CCACE;
      }
      span {
        font-weight: 700;
      }
    }
  }
  &__brand {
    @include style-search1();
    &-link {
      @include style-search2();
      .fas {
        color: #3CCACE;
      }
      span {
        font-weight: 700;
      }
    }
  }
}
.contents-list {
  margin-left: auto;
  display: flex;
  li {
    position: relative;
    cursor: pointer;
  }
  &__favorites {
    @include style-contents1();
    &-link {
      @include style-contents2();
      .fas {
        @include style-contents3();
      }
    }
  }
  &__news {
    @include style-contents1();
    &-link {
      @include style-contents2();
      .fas {
        @include style-contents3();
      }
    }
  }
  &__doing-list {
    @include style-contents1();
    &-link {
      @include style-contents2();
      .fas {
        @include style-contents3();
      }
    }
  }
  &__mypage {
    @include style-contents1();
    &-link {
      @include style-contents2();
      display: flex;
      .mypage {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
}
.breadcrumbs {
  position: relative;
  border-top: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &__signpost {
    overflow: visible;
    width: 700px;
    margin: 0 auto;
    padding: 16px 0;
    white-space: 16px 0;
    width: 1020px;
    font-size: 14px;
    a {
      color: #333;
      text-decoration: none;
    }
    .fas {
      margin: 0 5px;
    }
    .current {
      font-weight: 600;
    }
  }
}
.main-item {
  padding: 40px;
  margin: 0 auto;
  &__show {
    width: 700px;
    margin: 0 auto;
  }
}