* {
  box-sizing: border-box;
}

.user__header{
  width: 100%;
  height: 107px;
  background-color: yellow;
}

.user__brand{
  width: 100%;
  height: 54px;
  background-color: blue;
  font-size: 30px;
  color: white;

}

.user__body{
  width: 100%;
  height: 1555px;
  background-color: #f5f5f5;
}

.user__body--main{
  width: 1020px;
  height: 1517px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
}

.body--main_left{
  width: 280px;
  height: 1437px;
  margin: 0 40px 0 0;
}

.left__navi{
  box-sizing: border-box;
}

.navi__me{display: block;
}

.navi__contents{
  font-size:24px ;
  width: 280px;
  height: 53px;
  border-left: solid 6px;
  padding: 10px;
  margin-bottom: 3px;
  position: relative;
}

.list{
  font-size: 15px;
  text-decoration: none;
  color: black;
  border-left: solid 8px paleturquoise;
  background: whitesmoke;
  margin-bottom: 5px;
  line-height: 2.5;
  border-radius: 0 15px 15px 0;
  padding: 0.5em;
  list-style-type: none!important;
  display: block;
}

.body--main_right{
  width: 700px;
}

.right__Upper{
  width: 700px;
  height: 200px;
  background-image: image-url("fireworks_00020.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: whitesmoke;
}

.right__Upper__contents{
  width: 700px;
  height: 120px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

.content__user{
  width: 60px;
  height: 60px;
  margin: auto;
}

.right__middle{
  width: 700px;
  height: 570px;
  margin-top: 40px;
}

.middle__notice{
  width: 700px;
  height: 74px;
  display: flex;
}

.tab__active{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  cursor: pointer;
  background-color: paleturquoise;
  font-size: 27px;
}


.middle__notice__list{
  width: 700px;
  height: 494px;
  display: flex;
}

.notice__list__left{
  width: 50%;
  height: 100%;
  overflow: scroll;
}

.left_class, .right_class{
  font-size: 24px;
  text-decoration: none;
  color: black;
  border-left: solid 8px paleturquoise;
  background: whitesmoke;
  margin-bottom: 5px;
  line-height: 2.5;
  border-radius: 0 15px 15px 0;
  padding: 0.5em;
  list-style-type: none!important;
  display: block;
}

.notice__list__right{
  width: 50%;
  height: 100%;
  overflow: scroll;
}


.right__lower{
  width: 700px;
  height: 390px;
  margin-top: 40px;
  background-color: paleturquoise;
  display: block;
  font-size: 20px;
}

.trading__now{
  width: 100%;
  height: 40%;
}

.now__tab{
  display: flex;
  margin-top: 10px;
}

.trading__tab{
  width: 140px;
  height: 150px;
  display: block;
  background: white;
  margin: 5px 10px;
}


.user__notice{
  width: 100%;
  height: 359px;
  background-color: burlywood;
  display: block;
  font-size: 100px;
}


.user__footer{
  width: 100%;
  height: 356px;
  background-color: yellow;
}
