/* index全体の部分 */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ヘッダー部分 */

/*div class= A */

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.a {
  width: 100vw;
  height: 560px;
  background-image: image-url('/assets/bg-mainVisual-pict_pc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
}

.a-a {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0 0 0;
}

.title-contents {
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 60px;
  line-height: 1.2;
  color: #fff;
}

.a-b,.a-c {
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  color: #fff;
  line-height: 1.77778;
  margin: 16px 0 0 0;

}

ul {
  list-style:none;
}

/* FURIMAが選ばれる3つの理由部分 */
.serect__reason__contents {
  padding: 60px 20px;
  display: block;
}

.reason__intro--subtitle {
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}

.reason__intro--subtitle::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.reasonList {
  text-align: center;
  display: flex;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.ul {
  list-style: none;
}

.li {
  display: list-item;
//   text-align: -webkit-match-parent;
}

.reason__list {
  width: 30%;
  margin: 16px 5% 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reason__list--left__pict {
  position: relative;
  margin-bottom: 20px;
}

.number {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 10px 20px;
  background-color: #3ccace;
  color: #fff;
}

.number2 {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 10px 20px;
  background-color: #3ccace;
  color: #fff;
}




/* 「会員数日本一位」帯部分*/
.Top__middle {
  background-image: url("/assets/bg-topMiddleDl-pict.jpg");
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;

}

.Top__middle__dl {
  color: #fff;
  text-shadow: 00 0 5px rgba(0,0,0,0.4);
  text-align: left;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

.Toptitle-contents {
  font-size: 27px;
  font-weight: bold;
   line-height: 1.4;
   margin-bottom: 20px;
}

.Toptitlle-explan {
  font-size: 18px;
  line-height: 1.5;

}

.store-btn-top {
  margin-top: 30px;
}



/* FURIMAの特徴 */

/* ピックアップカテゴリー */

/* ピックアップブランド */

/* 今すぐ無料ダウンロード */

/* フッター部分 */

//出品するボタン//
.purchase-btn {
  width: 120px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}
